@import '../../../hasTailwind.css';

header{
    width: 100%;
}

header h1 {
    font-family: 'Londrina Solid', cursive;
    font-size: 2.5rem;
}

.navigation-links{
    padding-bottom: 1rem;
    color:black;
}

.navigation-links a,
.navigation-links a:visited,
.navigation-links a:hover{
    text-decoration: none;
    color:black;
}

