@import '../../hasTailwind.css';

.order-confirmation-container {
    min-height: 100vh;
}

.onTheWayMsg {
    font-weight: 100;
    margin-bottom: 0;
}

.takenOrder {
    margin-top: 0;
    margin-left: 3rem;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: -1px;
    line-height: 1;
}

.order-summary {
    width: 50%;
}

.order-summary h3 {
    text-align: left;
    font-weight: 700;
}

.pizza-info p {
    margin-top: 0;
    font-weight: 100;
}

.pizza-info {
    margin: 3rem 1rem;
}

.bill {
    padding: 0 3rem;
    border: 1px solid white;
    border-radius: 5px;
}