/*
font-family: 'Barlow', sans-serif;
font-family: 'Londrina Solid', cursive;
font-family: 'Quattrocento', serif;
font-family: 'Satisfy', cursive;
*/

button:hover{
    cursor: pointer;
}
.center{
    display: block;
    margin: 0 auto;
}
.vw37{
    width: 37vw;
}
.yellow-bg{
    background: #FDC913;
    border-width: 0;
}

.flex{
    display: flex;
}
span{
    color:red;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.space-b{
    justify-content: space-between;
}
.flex-center{
    align-items: center;
    justify-content: space-between;
}
.gap-1{
    gap:1rem;
}
.gap-2{
    gap:2rem;
}
.right-margin{
    margin-right: 8rem;
}
h3 {
    margin-bottom: 0;
}
.order-form-container{
    display: flex;
    flex-direction: column;
}
.order-form{
    margin:0 auto;
    justify-content: flex-start;
    align-items: stretch;
    color:black;
    font-family: 'Barlow', sans-serif;
}

.price p{
    font-size: 2rem;
    margin:1rem 0;
    font-weight: 700;
}

.rate-comment{
    gap:5rem;
}

.description p{
    margin-top: 0;
    font-size: 1rem;
}
.psize-pdough-area{
    justify-content: space-between;
}

.psize-area{
    gap:1rem;
}
.extra-options{
    flex-wrap: wrap;
    gap:1rem;
}
.extra-options div{
    flex-grow: 1;
}
.order-note{
    margin-top: 5rem;
}
.order-note label{
    margin-top: 1rem;
}
.order-note input{
    width: 100%;
    height: 2rem;
}
.order-note input::placeholder{
    padding-left: 0.5rem;
}

hr{
    margin-top:1rem;
    width: 100%;
    margin-bottom:1rem;
}
.option{
    flex-basis: 30%;
}
.order-amount{
    width: 30%;
    justify-content: center;
    align-items: flex-start;
}
.amount{
    margin: 0;
    margin-top:-1px;
    text-align: center;
    flex-grow: 1;
    height: 3rem;
    border: 1px solid rgb(95, 95, 95,0.2);
}
.order-amount button{
    flex-grow: 1;
    height: 3rem;
}

.order-submit-area{
    width: 70%;
}

.decrease{
    border-radius: 0.4rem 0 0 0.4rem;
}
.increase{
    border-radius: 0 0.4rem 0.4rem 0;
}
.order-summary-area{
    border: 1px solid rgb(95, 95, 95,0.2);
    border-radius: 0.4rem 0.4rem 0 0;
    padding:2rem;
}
.order-summary-area h3{
    margin-bottom: 1rem;
}
.order-summary-area h4,
.order-summary-area p{
    margin-bottom: 0;
}
.total-price{
    color:red;
}

.order-button button{
    width: 100%;
    height: 3rem;
    border-radius: 0 0 0.4rem 0.4rem ;
}

.footer{
    height: 15vh;
    width: 100vw;
}

