@import '../../hasTailwind.css';

button:hover {
    cursor: pointer;
}


h3 {
    margin-bottom: 0;
}

.order-form {
    padding-bottom: 3rem;
    align-items: stretch;
    color: black;
    font-family: 'Barlow', sans-serif;
}

.price p {
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: 700;
}

.order-note {
    margin-top: 5rem;
}

.order-note-input {
    margin-top: 1rem;
    width: 100%;
    height: 2.5rem;
    padding-left:1rem;
}

hr {
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.checkbox-input{
    display: none;
}

.checkbox-box{
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    margin-right: 10px;
    flex-shrink: 0;
    background-color: #FAF7F2;
    transition: background-color 0.15s, border-color 0.15s;
}
.checkbox-box::after{
    content:'\2714';
    color:#292929;
    transform: scale(0);
    transition: transform 0.15s;
    padding: 0.1rem;
    padding-bottom: 0.2rem;
}
.checkbox-input:checked + .checkbox-box{
    background: #FDC913;
}
.checkbox-input:checked + .checkbox-box::after{
    transform: scale(1.2);
}
.order-amount {
    width: 30%;
}

.amount {
    margin: 0;
    margin-top: -1px;
    text-align: center;
    height: 3rem;
    border: 1px solid rgb(95, 95, 95, 0.2);
    border-radius: 5px;
}

.order-amount button {
    height: 3rem;
}

.order-submit-area {
    width: 70%;
}

.decrease {
    border-radius: 0.4rem 0 0 0.4rem;
}

.increase {
    border-radius: 0 0.4rem 0.4rem 0;
}

.order-summary-area {
    border: 1px solid rgb(95, 95, 95, 0.2);
    border-radius: 0.4rem 0.4rem 0 0;
    padding: 2rem;
}

.order-summary-area h3 {
    margin-bottom: 1rem;
}

.order-summary-area h4,
.order-summary-area p {
    margin-bottom: 0;
}

.submit-order-button button {
    width: 100%;
    height: 3rem;
    border-radius: 0 0 0.4rem 0.4rem;
}

.radio {
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
}

.radio-input {
    display: none;
}

.radio-label {
    cursor: pointer;
    background-color: #FAF7F2;
    border-radius: 50%;
    padding: 1rem 1.33rem;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    color: #5F5F5F;
    transition: background-color 0.15s;
}

.radio-input:checked+.radio-label {
    background-color: #fceaca;
}

select {
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    cursor: pointer;
    padding: 1rem;
    padding-right: 2.5rem;
    color: #5F5F5F;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    background-image: url("../../Assets/adv-aseets/icons/caret-down-md.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
    border-radius: 10px;
}
select::-ms-expand {
    display: none;
}

select:active,
select:focus,
select:hover {
    background-color: #FAF7F2;
    outline-color: #5F5F5F;
}
.size-dough-error-msg{
    display: block;
    margin:0;
}
