@import '../hasTailwind.css';

.food {
    border-radius: 10px;
    padding: 1rem;
}

.food h4 {
    font-size: 1.1rem;
    font-weight: 700;
    margin:0;
}

.food-footer {
    font-weight: 700;
}

.food-footer p{
    margin:0;
}

