.header-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAF7F2;
}
.header-area header{
    background-color: #CE2829;
    width: 100%;
}
header h1 {
    text-align: center;
    color:#ffffff;
    font-family: 'Londrina Solid', cursive;
    font-size: 2.5rem;
    cursor: pointer;
}

.navigation-links{
    padding-bottom: 1rem;
    color:black;
}

.navigation-links a,
.navigation-links a:visited,
.navigation-links a:hover{
    text-decoration: none;
    color:black;
}

